.git/
.pytest_cache/
.venv/
__pycache__/
*.py[cod]
*.log
*.tmp

data/processed/
docs/superpowers/
docs/guion_defensa.md
models/
notebooks/
outputs/*
!outputs/optuna_lightgbm/
outputs/optuna_lightgbm/*
!outputs/optuna_lightgbm/optuna_study.db
!outputs/optuna_lightgbm/best_params.json
!outputs/optuna_lightgbm/trials.csv
